.ahref{
    text-decoration: none;
    text-align: center;
    padding: 3px;
}

.ahref:hover{
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
    text-decoration: none;
    margin: 3px;
    padding: 8px 0px 0px 0px;
}

.fa-facebook,.fa-instagram,.fa-linkedin{
    font-size: 30px;
    margin: 10px;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-linkedin:hover{
    font-size: 50px;
    padding: 5px;
    margin: 2px;
}